[Desktop Entry]
Name=JackTrip Start
Comment=GUI wrapper for JackTrip
GenericName=Network Audio Streaming Software
Path=/home/pi
Exec=/usr/local/bin/jacktrip_start.sh
Icon=jacktrip
Terminal=true
Type=Application
Categories=AudioVideo;Audio;Mixer;
Keywords=live;online;music;conference;
