[Unit]
Description=Jamulus-Server
After=network.target
After=graphical.target
Conflicts=jack.service

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
#
# Environment settings for PORT and NUMCHANNELS here are intended as defaults which can be
# overridden by the EnvironmentFile /home/pi/.config/Jamulus/jamulus-server.conf
# Make Environment changes in that file, not here.
#
# Jambox runs jamulus-server with the GUI.
# Most common jamulus-server settings are available in the GUI and should be set there.
#
Environment=NUMCHANNELS=8
Environment=PORT=22124
Environment=XDG_RUNTIME_DIR=/var/run/jamulus-server
EnvironmentFile=-/home/pi/.config/Jamulus/jamulus-server.conf
RuntimeDirectory=jamulus-server
User=pi
NoNewPrivileges=true
ProtectSystem=true
IOSchedulingClass=realtime
IOSchedulingPriority=1
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=90

#### See https://jamulus.io/wiki/Command-Line-Options ####

ExecStart=/usr/bin/jamulus --server --multithreading --htmlstatus /tmp/jamulus-server-status.html --fastupdate --port ${PORT} --numchannels ${NUMCHANNELS} --inifile /home/pi/.config/Jamulus/Jamulusserver.ini
ExecStartPost=-/bin/bash -c "sleep 3; wmctrl -r 'Jamulus Server' -N ${WINDOW_TITLE:-jamulus-server}"

Restart=on-failure
RestartSec=60
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jamulus-server

[Install]
WantedBy=multi-user.target
